.midSections{
    text-align: center;
    padding: 8rem 0;
    
    h2{
        &:after{
            left: 50%;
            transform: translateX(-50%);
        }
    }

    p{
        max-width: 100%;
        text-align: center;
    }
}

.logosSlider,
.clientSlider{
    margin-top: 4.2rem;

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoItem{
        transition: all 0.3s ease;
        height: 11.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            // filter: grayscale(100%);
            transition: all 0.3s ease;
            //opacity: 0.5;
        }

        &:hover{
            img{
                // -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                // filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

    .owl-stage-outer{
        z-index: 2;
    }

    .owl-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0%;
        position: absolute;
        z-index: 1;
        transform: translateY(0%);
        height: 100%;
        margin-top: 0 !important;

        button{
            color: $slider-arrow !important;
            font-size: 2rem !important;
            font-weight: bolder;
            position: relative;
            transition: all 0.3 ease;

            &:hover{
                background-color: transparent !important;
                color: $primary !important;
            }

            &.owl-prev{
                left: -20px;
                transform: rotate(90deg);
            }

            
            &.owl-next{
                right: -20px;
                transform: rotate(270deg);
            }
        }
    }
}

.logosSlider{
    .item{
        width: 100%;
        .logoItem{
            width: 100%;

            img{
                width: auto;
                max-height: 70%;
                max-width: 70%;
            }
        }
    }
}

.clientSlider{
    .owl-stage{
        .owl-item{
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.clientCont{
    position: relative;

    .mainItem{
        position: absolute;
        z-index: 3;
        width: 13rem;
        height: 13rem;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%) !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .logoItem{
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            background-color: $white-color;
            box-shadow: 0 0 10px rgba($secondry, 0.1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    .item{
        opacity: 0 !important;
    }
}

.fade-in-image {
    animation: fadeIn 7s;
  }
  
  
  @keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {display: block;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  