$primary: #FF6F00;
$secondry: #131313;

$dark-grey: #202020;
$white-color: #fff;
$black-color: #000;
$light-font: #505050;
$light-grey: #FBFBFB;
$border: #e1e1e1;
$slider-arrow: #c2c2c2;
$image-border: #303030;