@font-face {
  font-family: 'Main';
  src: url("/assets/fonts/Main/BebasNeue-Regular.eot");
  src: url("/assets/fonts/Main/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Main/BebasNeue-Regular.woff2") format("woff2"), url("/assets/fonts/Main/BebasNeue-Regular.woff") format("woff"), url("/assets/fonts/Main/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular-body';
  src: url("/assets/fonts/body-regular/Lato-Regular.eot");
  src: url("/assets/fonts/body-regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/body-regular/Lato-Regular.woff2") format("woff2"), url("/assets/fonts/body-regular/Lato-Regular.woff") format("woff"), url("/assets/fonts/body-regular/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold-body';
  src: url("/assets/fonts/body-bold/Lato-Bold.eot");
  src: url("/assets/fonts/body-bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/body-bold/Lato-Bold.woff2") format("woff2"), url("/assets/fonts/body-bold/Lato-Bold.woff") format("woff"), url("/assets/fonts/body-bold/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Black-body';
  src: url("/assets/fonts/body-black/Lato-Black.eot");
  src: url("/assets/fonts/body-black/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/body-black/Lato-Black.woff2") format("woff2"), url("/assets/fonts/body-black/Lato-Black.woff") format("woff"), url("/assets/fonts/body-black/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icons/icomoon.eot");
  src: url("/assets/fonts/icons/icomoon.eot?j3tmpn#iefix") format("embedded-opentype"), url("/assets/fonts/icons/icomoon.ttf?j3tmpn") format("truetype"), url("/assets/fonts/icons/icomoon.woff?j3tmpn") format("woff"), url("/assets/fonts/icons/icomoon.svg?j3tmpn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90c";
}

.icon-location:before {
  content: "\e906";
  color: #595959;
}

.icon-mail:before {
  content: "\e907";
  color: #595959;
}

.icon-phone:before {
  content: "\e908";
  color: #595959;
}

.icon-facbeook:before {
  content: "\e909";
}

.icon-Instagram:before {
  content: "\e90a";
}

.icon-linked:before {
  content: "\e90b";
}

.icon-language:before {
  content: "\e905";
}

.icon-star:before {
  content: "\e904";
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-diamond:before {
  content: "\e901";
}

.icon-eye:before {
  content: "\e902";
}

.icon-target:before {
  content: "\e903";
}

html {
  font-size: 10px;
  background-color: #fff;
}

body {
  font-family: 'Regular-body' !important;
  overflow-x: hidden;
}

body p {
  text-align: justify;
}

body .modal-backdrop {
  background-color: transparent;
}

.eteMenu {
  width: 100%;
}

.eteMenu .navbar {
  padding: 4.8rem 0;
}

.eteMenu .navbar.fixed-top {
  background-color: #131313;
  padding: 1rem 0;
  -webkit-box-shadow: 0 0 15px #202020;
          box-shadow: 0 0 15px #202020;
}

.eteMenu .navbar-nav .nav-item {
  margin-right: 3rem;
}

.eteMenu .navbar-nav .nav-link {
  font-size: 1.6rem;
  color: #c2c2c2;
  background-color: transparent;
  border: transparent;
}

.eteMenu .navbar-nav .dropLang {
  padding-left: 2.4rem;
  border-left: 1px solid #fff;
  margin: 0;
}

.eteMenu .navbar-nav .dropLang .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eteMenu .navbar-nav .dropLang i {
  font-size: 2rem;
}

.eteMenu .navbar-nav .dropLang i:last-of-type {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.bannerSection {
  height: 100vh;
  position: relative;
}

.bannerSection .container {
  height: 100%;
}

.bannerImg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bannerImg img {
  height: 100%;
  width: 100%;
}

.bannerImg video {
  height: 100%;
}

.bannerImg span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.bannerInner {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bannerText {
  text-align: center;
}

.bannerText span {
  font-size: 3.8rem;
  font-family: 'Main';
  text-align: center;
  display: inline-block;
  width: 60%;
  letter-spacing: 1.5px;
}

.bannerText span span {
  color: #FF6F00;
  width: auto;
}

.bannerText p {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

.bannerText button {
  background-color: rgba(255, 111, 0, 0.8);
  color: #fff;
  font-size: 1.8rem;
  font-family: 'Bold-body';
  border-radius: 0.8rem;
  padding: 1.6rem 4.4rem;
  margin-top: 3rem;
  border: none;
}

.goToNxtSection a {
  text-decoration: none;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #FF6F00;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.goToNxtSection a:hover {
  color: #FF6F00;
  background-color: #fff;
}

.darkSection {
  background-color: #131313;
  padding: 5rem 0;
}

.textSection {
  color: #fff;
}

.textSection h2 {
  font-size: 3.2rem;
  position: relative;
  font-family: 'Main';
  padding-bottom: 2.4rem;
}

.textSection h2:after {
  content: "";
  left: 0;
  top: 100%;
  position: absolute;
  background-color: #FF6F00;
  height: 2px;
  width: 4.8rem;
}

.textSection p {
  margin-bottom: 0;
  margin-top: 2.2rem;
  font-size: 1.8rem;
  width: 90%;
  line-height: 3.2rem;
}

.textSection p:first-of-type {
  margin-top: 3.9rem;
}

.iconsList .iconItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.6rem;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #202020;
  border-radius: 0.8rem;
  padding: 2.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconsList .iconItem span {
  width: 9.2rem;
  height: 9.2rem;
  border-radius: 50%;
  background-color: #202020;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.2rem;
  color: #FF6F00;
}

.iconsList .iconItem p {
  width: calc(100% - 11rem);
  font-size: 1.6rem;
}

.whiteSection {
  padding: 8rem 0 0;
}

.sectionHeader {
  color: #131313;
}

.sectionHeader h2 {
  font-size: 3.2rem;
  position: relative;
  font-family: 'Main';
  padding-bottom: 2.4rem;
}

.sectionHeader h2:after {
  content: "";
  left: 0;
  top: 100%;
  position: absolute;
  background-color: #FF6F00;
  height: 2px;
  width: 4.8rem;
}

.sectionHeader p {
  margin-bottom: 0;
  margin-top: 3.9rem;
  font-size: 1.8rem;
  max-width: 70%;
  color: #505050;
}

.tabsSection {
  margin-top: 3.2rem;
}

.tabsSection .tab {
  border-radius: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tabsSection .tab button {
  padding: 2.4rem;
  border: 1px solid #e1e1e1;
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  background-color: #fff;
  position: relative;
  text-transform: capitalize;
}

.tabsSection .tab button:first-of-type {
  border-radius: 0.8rem 0 0 0.8rem;
}

.tabsSection .tab button:last-of-type {
  border-radius: 0 0.8rem 0.8rem 0;
}

.tabsSection .tab button:hover {
  background-color: transparent;
}

.tabsSection .tab button.active {
  background-color: transparent;
  border-left: 0.6rem solid #FF6F00;
}

.tabsSection .tabcontent {
  display: none;
  padding: 3.2rem 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tabInfo {
  padding: 2.4rem 3.2rem;
}

.tabInfo h2 {
  font-size: 2.4rem;
  position: relative;
  font-family: 'Main';
  padding-bottom: 1rem;
}

.tabInfo h2:after {
  content: "";
  left: 0;
  top: 100%;
  position: absolute;
  background-color: #FF6F00;
  height: 1px;
  width: 4.8rem;
}

.tabInfo p {
  color: #505050;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-top: 1.6rem;
}

.tabInfo p:first-of-type {
  margin-top: 3.2rem;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tabcontent .tabImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.8rem;
  display: inline-block;
}

.tabcontent .tabImage img {
  width: 100%;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.midSections {
  text-align: center;
  padding: 8rem 0;
}

.midSections h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.midSections p {
  max-width: 100%;
  text-align: center;
}

.logosSlider,
.clientSlider {
  margin-top: 4.2rem;
}

.logosSlider .item,
.clientSlider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logosSlider .logoItem,
.clientSlider .logoItem {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 11.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logosSlider .logoItem img,
.clientSlider .logoItem img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logosSlider .logoItem:hover img,
.clientSlider .logoItem:hover img {
  opacity: 1;
}

.logosSlider .owl-stage-outer,
.clientSlider .owl-stage-outer {
  z-index: 2;
}

.logosSlider .owl-nav,
.clientSlider .owl-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0%;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  height: 100%;
  margin-top: 0 !important;
}

.logosSlider .owl-nav button,
.clientSlider .owl-nav button {
  color: #c2c2c2 !important;
  font-size: 2rem !important;
  font-weight: bolder;
  position: relative;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.logosSlider .owl-nav button:hover,
.clientSlider .owl-nav button:hover {
  background-color: transparent !important;
  color: #FF6F00 !important;
}

.logosSlider .owl-nav button.owl-prev,
.clientSlider .owl-nav button.owl-prev {
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.logosSlider .owl-nav button.owl-next,
.clientSlider .owl-nav button.owl-next {
  right: -20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.clientSlider .owl-stage .owl-item {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientCont {
  position: relative;
}

.clientCont .mainItem {
  position: absolute;
  z-index: 3;
  width: 13rem;
  height: 13rem;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientCont .mainItem .logoItem {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(19, 19, 19, 0.1);
          box-shadow: 0 0 10px rgba(19, 19, 19, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greySection {
  background-color: #FBFBFB;
  padding: 2.4rem 0;
}

.chooseUsTextArea h2 {
  font-size: 3.2rem;
  position: relative;
  font-family: 'Main';
  padding-bottom: 2.4rem;
}

.chooseUsTextArea h2:after {
  content: "";
  left: 0;
  top: 100%;
  position: absolute;
  background-color: #FF6F00;
  height: 2px;
  width: 4.8rem;
}

.chooseUsTextArea p {
  margin-bottom: 0;
  margin-top: 1.6rem;
  font-size: 1.8rem;
  color: #505050;
}

.chooseUsTextArea p:first-of-type {
  margin-top: 3.9rem;
}

.chooseUsTextArea h4 {
  font-size: 1.6rem;
  color: #505050;
  margin: 2.5rem 0;
}

.chooseUsTextArea ul {
  padding: 0;
  list-style: none;
}

.chooseUsTextArea ul li {
  font-size: 1.6rem;
  color: #505050;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooseUsTextArea ul li:last-of-type {
  margin-bottom: 0;
}

.chooseUsTextArea ul li i {
  font-size: 1rem;
  color: #FF6F00;
  margin-right: 1rem;
}

.chooseUsTextArea button {
  margin-top: 1.6rem;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: #FF6F00;
  font-family: 'Bold-body';
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.chooseUsTextArea button i {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.chooseImg {
  height: 60.4rem;
  display: inline-block;
  position: relative;
  width: 100%;
}

.chooseImg span {
  border-radius: 0.8rem;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(17%);
          transform: translateX(17%);
  overflow: hidden;
}

.whyUsSlider .owl-stage-outer {
  overflow: visible !important;
}

.whyUsSlider .owl-stage-outer .owl-item {
  visibility: hidden;
}

.whyUsSlider .owl-stage-outer .owl-item.active {
  visibility: visible;
}

.whyUsSlider .owl-dots {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.whyUsSlider .owl-dots .owl-dot span {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 111, 0, 0.5) !important;
}

.whyUsSlider .owl-dots .owl-dot.active span {
  background-color: #FF6F00 !important;
}

.chairmanImg {
  border-radius: 0.8rem;
  height: 51.3rem;
  background-color: #303030;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.chairmanImg span {
  height: 100%;
  overflow: hidden;
  display: inline-block;
  border-radius: 0.8rem;
}

.chairmanImg img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}

.textSection span {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 3rem;
  display: block;
}

.chairmanText {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 89%;
  margin: auto;
}

.chairmanText h2 {
  display: inline-block;
}

.chairmanText h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.chairmanText p {
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
}

.eteFooter .sectionTitle h2 {
  font-size: 1.6rem;
  color: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.4rem;
}

.eteFooter .sectionTitle h2 span {
  width: 2.4rem;
  background-color: #595959;
  height: 1px;
  margin-right: 1rem;
  display: inline-block;
}

.eteFooter .sectionTitle p {
  color: #595959;
  font-size: 2rem;
  font-family: 'Bold-body';
  margin-bottom: 3rem;
}

.eteFooter .greySection {
  padding: 4.8rem 0;
}

.eteFooter .whiteSection {
  padding: 2.4rem 0;
}

.contactsList {
  padding: 0;
  list-style: none;
}

.contactsList li {
  margin-bottom: 2rem;
  color: #595959;
  font-size: 1.4rem;
}

.contactsList li i {
  margin-right: 0.8rem;
  font-size: 1.35rem;
}

.socialMediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMediaLinks h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #131313;
  margin-right: 1.6rem;
}

.socialMediaLinks span a {
  color: #131313;
  opacity: 0.5;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  margin-right: 1.7rem;
  position: relative;
}

.socialMediaLinks span a i {
  padding-right: 1.4rem;
}

.socialMediaLinks span a:not(:last-of-type):after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #131313;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.5;
}

.copyRightsText {
  color: #131313;
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.eteModal {
  background-color: rgba(0, 0, 0, 0.7);
}

.eteModal .btn-close {
  right: 2rem;
  left: auto;
  position: absolute;
  top: 2rem;
  font-weight: bolder;
  background-image: none;
  opacity: 1;
}

.eteModal .btn-close i {
  font-size: 1.3rem;
  font-weight: bold;
  color: #131313;
}

.eteModal .modal-content {
  padding: 4.8rem;
  border-radius: 0.8rem;
}

.eteModal .modal-dialog {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  max-width: 550px;
}

.eteModal .modal-header {
  border: none;
}

.eteModal .modal-title {
  font-size: 3.2rem;
  font-family: 'Main';
  color: #131313;
}

.eteModal .modal-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eteModal .modal-body form input {
  margin-bottom: 1.7rem;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #595959;
  font-size: 1.4rem;
}

.eteModal .modal-body form input::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form input:-ms-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form input::-ms-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form input::placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form textarea {
  margin-bottom: 0;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #595959;
  font-size: 1.4rem;
  min-height: 11rem;
  max-height: 11rem;
}

.eteModal .modal-body form textarea::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form textarea:-ms-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form textarea::-ms-input-placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-body form textarea::placeholder {
  text-transform: capitalize;
  color: #595959;
  opacity: 0.5;
}

.eteModal .modal-footer {
  border: none;
  margin-top: 2.4rem;
  padding-top: 0;
}

.eteModal .modal-footer button {
  width: 100%;
  padding: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Bold-body';
  background-color: #FF6F00;
  border-radius: 1rem;
  border: none;
}

.eteModal .modal-footer button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=main-styles.css.map */